name: Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "00 18 * * *"

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Link Checker
        uses: ./ # Uses an action in the root directory
        with:
          args: --user-agent "Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:59.0) Gecko/20100101 Firefox/59.0" --verbose --exclude spinroot.com --no-progress './**/*.md' './**/*.html'
          issueTitle: Link Checker Report
          issueLabels: report, automated issue
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
