on: 
  - push
  - pull_request

jobs:
  lychee-action:
    runs-on: ubuntu-latest
    name: Test the lychee link checker action
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - name: link checking
        uses: ./ # Uses an action in the root directory
        with:
          args: -v fixtures/TEST.md
