on: 
  - repository_dispatch
  - workflow_dispatch
  - push
  - pull_request

jobs:
  lychee-action:
    runs-on: ubuntu-latest
    continue-on-error: true
    name: Test the lychee link checker action
    steps:
      # To use this repository's private action,
      # we must check out the repository
      - name: Checkout
        uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748
      # `lycheeverse/lychee-action@...` gets classified as an e-mail address,
      # causing this test to fail.
      # TODO: Reactive once this issue is fixed upstream:
      # https://github.com/robinst/linkify/issues/29
      #- name: test defaults
      #  uses: ./
      #  with:
      #    fail: true
      - name: test globs
        uses: ./
        with:
          args: --exclude-mail --verbose --no-progress './**/*.md' './**/*.html'
          fail: true
      - name: test workflow inputs
        uses: ./
        with:
          args: -v fixtures/TEST.md
          format: json
          output: /tmp/foo.json
          fail: true
      - name: directory
        uses: ./
        with:
          args: --exclude-mail .
          fail: true
      - name: test format override
        uses: ./
        with:
          args: --format markdown -v fixtures/TEST.md
          format: doesnotexist # gets ignored if format set in args
          output: /tmp/foo.txt
          fail: true
