on:
  - repository_dispatch
  - workflow_dispatch
  - push
  - pull_request

jobs:
  lychee-linux:
    runs-on: ubuntu-latest
    continue-on-error: true
    name: Test the lychee link checker action
    steps:
      # To use this repository's private action,
      # we must check out the repository
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: test defaults
        uses: ./
        with:
          fail: true
      - name: test explicit lychee version
        uses: ./
        with:
          lycheeVersion: 0.9.0
      - name: test globs
        uses: ./
        with:
          args: --exclude-mail --verbose --no-progress './**/*.md' './**/*.html'
          fail: true
      - name: test workflow inputs
        uses: ./
        with:
          args: -v fixtures/TEST.md
          format: json
          output: /tmp/foo.json
          fail: true
      - name: directory
        uses: ./
        with:
          args: --exclude-mail .
          fail: true
      - name: test format override
        uses: ./
        with:
          args: --format markdown -v fixtures/TEST.md
          format: doesnotexist # gets ignored if format set in args
          output: /tmp/foo.txt
          fail: true

  lychee-windows:
    runs-on: windows-latest
    name: Test the lychee link checker action on Windows
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: test defaults
        uses: ./
        with:
          fail: true
          lycheePackage: windows-x86_64.exe

  lychee-macos:
    runs-on: macos-latest
    name: Test the lychee link checker action on macOS
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: test defaults
        uses: ./
        with:
          fail: true
          lycheePackage: macos-x86_64.dmg