name: Test cache

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
  repository_dispatch:

jobs:
  lychee-action:
    runs-on: ubuntu-latest
    continue-on-error: true
    name: Test cache
    steps:
      - name: Restore lychee cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - uses: actions/checkout@v6

      - name: Lychee URL checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: >-
            --cache
            --verbose
            --no-progress
            './**/*.md'
            './**/*.html'
            './**/*.rst'
          # Fail the action on broken links.
          # If the pipeline fails, the cache will _not_ be stored
          fail: true
        env:
          # to be used in case rate limits are surpassed
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
